@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
:root {
  /*--main-color: #247F99;*/
  --main-color: #fff;
  --link-inactive: #000;
  --text-light: #FC6634;
  --text-dark: #000;
  --emphasis: #F78E47;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html, body {
  height: 100%;
  margin: 0 0 0 0;
  /*background-color: #4A00D8;*/
  background-color: var(--main-color);
  /*background-color: navy;*/
}
body {
  position: relative;
}
a {
  text-decoration: none;
}
a:link{
  color: var(--link-inactive);
}
a:visited{
  color: var(--link-inactive);
}
a:hover{
  color: var(--text-light);
  text-decoration: overline;
}
p {
  font: 18px 'EB Garamond', serif;
}
#name-title {
  position: fixed;
  top: 10px;
  height: 50px;
  width: 100%;
  padding-top: 5px;
  text-align: center;

}
#name-title h1 {
  font-size: 40px;
  font-family: 'EB Garamond', serif;
  letter-spacing: 2px;

}
.navbar {
  position: fixed;
  margin-top: 10px;
  top: 60px;
  height: 40px;
  width: 100%;

}
ul {
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  list-style-type: none;

}
ul li {
  display: inline;
  padding: 0 20px 0 20px;
  text-decoration: none;
}
ul li a {
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
}
#current{
  color: var(--text-light);
  text-decoration: overline;
}
.section {
  height: 100%;
  /*border-bottom: solid 2px;*/
}
.box {
  position: fixed;
  top: 130px;
  height: 100%;
  width: 100%;
  /*background-color: red;*/
  text-align: center;
}
.content {
  position: relative;
  left: 25%;
  width: 50%;
  text-align: justify;
  border-top: solid 2px var(--text-light);
  padding: 10px;
}
